.descr {
  text-align: left;
}
.example-card {
/*    max-width: 400px;*/
  vertical-align: top;
}
img[mat-card-image] {
  max-height: 300px;
  width: auto;
}
mat-grid-tile {
  margin-bottom: 30px;
}
mat-card-subtitle {
  text-align: left;
}
mat-card-title {
  font-weight: bold;
}