<mat-card class="menu-card">
  <mat-toolbar color="menu-toolbar">
    <mat-toolbar-row>
      <span>В избранное добавленно: 0 элементов</span>
      <span class="example-spacer"></span>
      <!-- <mat-form-field class="example-full-width">
        <input matInput #postalCode placeholder="Поиск" value="" [(ngModel)]="searchFilm">
      </mat-form-field> -->
      <div>
        <!-- <mat-form-field>
          <mat-select 
            placeholder="Сортировка" 
            class="sort_select" 
            [(ngModel)] = "sortDirection" >

            <mat-option *ngFor="let item of sortOptions" [value]="item.value">
                {{item.viewValue}}
            </mat-option>

          </mat-select>
        </mat-form-field> -->
      </div>
    </mat-toolbar-row>
  </mat-toolbar>


</mat-card>
  

<mat-grid-list cols="3" rowHeight="550px" gutterSize="10px">
  <mat-grid-tile 
    *ngFor="let film of films"
    colspan=1 >
    <film-item 
      [filmData] = "film"
      (update)="setUpdatedValue($event)"
      >
    </film-item>
  </mat-grid-tile>
</mat-grid-list>


